#Comma separated list of SIP transports addresses
#If left blank repro will bind to all adapters.
#IPAddresses =
IPAddresses = 192.168.64.85, 127.0.0.1, 192.168.1.1

# Comma separated list of Domains servers, overrides default OS detected list (leave blank
# for default : localhost, 127.0.0.1)
# Domains =

Domains = test.ua, localhost, my.test.ua, sip.test.us, 192.168.64.85, 127.0.0.1, hh.test.ua

# Enable IPv6
EnableIPv6 = false

# Enable IPv4
DisableIPv4 = false

# Local port to listen on for SIP messages over UDP - 0 to disable
UDPPort = 5060

# Local port to listen on for SIP messages over TCP - 0 to disable
TCPPort = 5060

Realm = test.server.ua
#DB Parameter
DBServer = localhost
DBUser = registrar
DBPassword = password
DBName = registrar
DBPort = 3306
